<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feed</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body class="bg-gray-900 text-gray-100 font-['Inter']">
    <div class="container mx-auto px-4 py-8 max-w-6xl">
       <header class="flex justify-between items-center mb-12">
        <h1 class="text-4xl font-bold">All Posts</h1>
        <div class="wraper flex space-x-3 items-center">

          <a href="/profile">
           <button class="bg-blue-600 hover:bg-blue-700 px-6 py-2 rounded-full text-lg transition duration-300 ease-in-out">
             Profile
           </button>
         </a>
         <a href="/logout">
           <button class="bg-red-600 hover:bg-red-700 px-6 py-2 rounded-full text-lg transition duration-300 ease-in-out">
             Log out
           </button>
         </a>
        </div>
      </header>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <% posts.forEach((post) => { %>
          <div class="bg-gray-800 rounded-lg p-6 shadow-lg">
            <h2 class="text-blue-400 font-semibold mb-2">@<%= post.userName %></h2>
            <p class="text-gray-300 mb-4"><%= post.content %></p>
            <div class="flex items-center space-x-4">
              <span class="text-gray-400"><%= post.liked.length %> likes</span>
              <a href="/feed-like/<%= post._id%>" class="text-blue-400 hover:text-blue-300 transition duration-300 ease-in-out">
                <%= post.isLikedByCurrentUser ? "Unlike" : "Like" %>
              </a>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>